.background {
    background-color: $body-bg;
}

.text-heading {
    color: #5e5e5e !important;
}

.table-wrapper {
    max-height: 18em;
    min-height: 10em !important;
    overflow: auto;
}

table thead th {
    position: sticky;
    top: 0;
    border-top: 0 !important;
}